@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {

    margin: 0;
    padding: 0;

}
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 100%;
    height: 6vh;
}

.navbar li{
    display: inline-block;
    padding: 10px;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}

#home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    background-color: rgb(239, 249, 249);
    }

    #home .photo{
        margin: 25px;}
        #home .photo img{
            padding: 20px;
            border-radius: 50px;
        }

    #home .desc{
        margin: 25px;}
        #home .desc td{
            padding-top: 25px;
            padding-right: 40px;
        }

#about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:rgb(124, 220, 220);}
    #about .text_about{
        display: flex;
        flex-direction: column;
        padding: 100px;
        align-items: center;
    }
    #about .text_about td{
        padding: 5px;

    }
    #about .img_about{
        margin-right: 100px; }
        #about .img_about img {
            width: 600px;
            border-radius: 50px; }

    

#edu_background{
    justify-content: center;
    align-items: center;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}
#edu_background table{
    padding: 40px;
}
#edu_background td{
    padding-bottom: 10px;
    padding-right: 70px;
}


#contact{
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:rgb(64, 67, 94);
}
#contact img{
    padding: 10px;
}



